@tailwind base;
@tailwind components;
@tailwind utilities;

.label {
    @apply block font-semibold text-gray-700 mb-1;
}

.input-text,
.input-select {
    @apply w-full border border-gray-300 rounded-xl px-4 py-3 bg-white shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition;
}